/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.wraper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}
.wraper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section__title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0e1d28;
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 55px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.intro {
  min-height: 100vh;
  padding-top: 263px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 223px;
}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 548px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 56px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-from__field {
  width: 297px;
  background: transparent url(../img/oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.search-from__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-from__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-from__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-from__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-from__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__submit {
  padding: 13px 37px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0b428c;
}

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 133px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: white;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 55px;
  -moz-column-gap: 55px;
  column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  font-size: 16px;
  padding-right: 59px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(/img/shape.svg) no-repeat 95% center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(/img/shape.svg) no-repeat right center;
}

.places {
  margin-bottom: 131px;
}

.places__caption {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.places__view-all {
  padding-right: 59px;
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: url(/img/shape.svg) no-repeat right center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.places__view-all:hover,
.places__view-all:focus {
  opacity: 0.65;
}

.places__title {
  margin-right: 15px;
}

.places__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card_card_size_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.places__card-pic {
  width: 100%;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
}

.places__card_card_size_lg {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.places__card-pic_size_sm {
  -o-object-fit: cover;
  object-fit: cover;
  height: 283px;
}

.places__card-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places__card_card_size_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 108px;
  -moz-column-gap: 108px;
  column-gap: 108px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  padding-right: 59px;
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: url(/img/shape.svg) no-repeat right center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tour__more:hover,
.tour__more:focus {
  opacity: 0.65;
}

.top {
  margin-bottom: 86px;
}

.top__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.top__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 57px;
  -moz-column-gap: 57px;
  column-gap: 57px;
  row-gap: 57px;
}

.top_title {
  margin-bottom: 54px;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
}

.top__card-title {
  margin: 0 auto 0 0;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.top__card-likes {
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(/img/heart.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  padding-right: 23px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: url(/img/comments.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  text-decoration: none;
  padding: 12px 19px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background: #1b7dff;
  border: 0;
  margin: auto 0 0 0;
}

.top__card-more:hover,
.top__card-more:focus,
.top__card-moret:active {
  background: #0b428c;
}

.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video_element {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__menu-title {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  opacity: 0.75ss;
}

@media screen and (max-width: 960px) {
  .search-from__field {
    margin-bottom: 25px;
  }
  .benefits__card {
    margin-bottom: 50px;
  }
  .benefits {
    margin-bottom: 75px;
  }
  .benefits__cards {
    padding: 0 15px;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
  .benefits__title {
    padding: 55px 15px;
  }
  .benefits__wrap {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .places__card_card_size_lg {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .places__card_card_size_sm {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .tours__tour {
    grid-column-gap: 35px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 15px;
  }
  .tour__desc {
    margin-bottom: 15px;
  }
  .top__cards {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    row-gap: 55px;
  }
  .top__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .top__card-pic {
    margin-bottom: 25px;
  }
  .footer {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 25px;
  }
  .section__title::after {
    width: 78px;
  }

  .header__burger {
    display: block;
  }
  .header__nav {
    padding: 50px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }

  .header__nav_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__wraper {
    padding-top: 28px;
  }

  .intro {
    padding-top: 125 px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  .search-from__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 16px;
    background: transparent url(../img/oval.svg) no-repeat left 2px;
  }

  .search-form__submit {
    width: 100%;
  }

  .search-from__field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-from__field::-moz-placeholder {
    font-size: 16px;
  }

  .search-from__field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-from__field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-from__field::placeholder {
    font-size: 16px;
  }
  .benefits {
    margin-bottom: 37px;
  }

  .benefits__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }
  .benefits__card-title {
    margin-bottom: 12px;
  }
  .benefits__card-desc {
    margin-bottom: 20px;
  }
  .places {
    margin-bottom: 75px;
  }
  .places__view-all {
    margin-bottom: 25px;
  }
  .places__caption {
    margin-bottom: 0;
  }
  .places__card-pic_size_lg {
    height: 230px;
  }
  .places__card_card_size_sm {
    height: 230px;
  }
  .tours {
    margin-bottom: 76px;
  }
  .tour__pic,
  .tour__info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 12px;
  }
  .tour__pic-mob-first {
    -ms-grid-row: -1;
    grid-row-start: -1;
  }

  .tours__tour {
    margin-bottom: 5 0px;
  }
  .top {
    margin-bottom: 76px;
  }
  .top__card {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .top__card-stats {
    max-width: 386px;
  }
  .top__card-desc {
    margin-bottom: 15px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
}
